@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Chilanka&family=Finlandica&family=Fira+Sans:wght@200;300;400&family=Geologica:wght@100;200;300;400;500&family=Grenze+Gotisch&family=Hubballi&family=Inter:wght@200;300;400;500;700;800&family=Lato&family=Lobster&family=Lobster+Two:wght@700&family=Manrope:wght@300&family=Martel&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&family=Noto+Sans&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&family=Quicksand&family=Raleway:ital,wght@0,200;0,300;0,400;0,800;1,700&family=Roboto:wght@100;300;400;700&family=Sansita+Swashed:wght@300&family=Wix+Madefor+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none;
}

:root {
  --navHeight : 80px;
  --landingPageFont: "Poppins", sans-serif;
  --bodyFont: "Roboto", sans-serif;
  /* --darkTheme1: #2c2a43; */
  --darkTheme1: #3F3A64;
  --darkTheme2: #1e1b32;
  --lightTheme1: #ffffff;
  --lightTheme2: rgb(250, 250, 250);
  --lightTheme3: #f5f5f5;
  --lightTheme4: rgb(240, 240, 240);
  --lightTextColor: #858585;
  --headerTextColor: #3f3a64;
  --themeColor: #fe79a2;
  --themeColorDark: #f5628e;
  --maxWidth: 1200px;
  --blackColor: rgb(82, 77, 115);
  --blackColorDark: #47426c;
  --blueColor: #5B7CDA;
  --bodyFont2: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#home {
  background-color: var(--lightTheme1) !important;
  height: auto;
  width: 100vw;
  font-family: var(--bodyFont);
  position: relative;
}

.navbar {
  box-shadow: 0px 0px 10px rgb(220, 220, 220);
  /* background-color: blue; */
  position: fixed;
  left: 0;
  z-index: 1000;
  height: var(--navHeight);
  width: 100vw;
  padding: 0 2rem;
  transition: 0.15s ease;
  z-index: 11000;
  background-color: var(--lightTheme1);
}

/* Navbar Color change while scroll */
.scrolled {
  background-color: var(--lightTheme1);
  height:90px;
  box-shadow: 0px 0px 8px rgb(227, 226, 226);
  border-bottom: none;
}
.scrolled-link{

}
/* Navbar Text color change while scroll */
.link {
  color: var(--blackColor) !important;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  height: 100%;
  max-width: var(--maxWidth);
  margin: auto;
}

.logo-title {
  /* font-size: 2rem; */
  font-weight: 500;
  font-family: var(--bodyFont2);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.logo-title > .logo-title-child{
  font-weight: 400;
  font-size: 14px;
}

.logo > img {
  height: 4.4rem;
}
.courses-link{
  color: var(--blackColorDark);
}
.courses-link:hover{
  color: var(--blueColor);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* background-color: green; */
  height: 100%;
}


.links > li > a {
  font-size: 1.08rem;
  font-family: var(--landingPageFont);
  letter-spacing: -0.5px;
  font-weight: 500;
}

.links > li > a:hover {
  color: white;
}

/* Color of all the links in the Navbar */
/* a.link {
  color: var(--lightTheme4);
} */

.fa-moon,
.fa-bars-staggered,
.fa-xmark,
.fa-sun {
  cursor: pointer;
}
.fa-bars-staggered {
  color: var(--lightTheme4);
  font-size: 1.25rem;
  z-index: 13000;
  display: none !important;
}
.navbar-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.fa-moon {
  font-size: 1.5rem;
  color: var(--lightTheme4);
}
.fa-xmark {
  font-size: 1.5rem;
}
.register {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.register-title {
  cursor: pointer !important;
}

a.link-active {
  color: var(--lightTheme1);
}

.fa-star {
  color: var(--) !important;
  font-size: 1rem;
  cursor: pointer;
}
.nav-button{
  height: 2.7rem;
  width:7rem;
  background-color: var(--themeColor);
  border:none;
  outline:none;
  border-radius: 2rem;
  color: white !important;
  font-weight: 500;
  font-size: 15px;
  font-family: var(--landingPageFont);
  cursor: pointer;
  transition: 0.3s ease
}
.nav-button:hover{
  background-color: var(--themeColorDark);
}

.hero {
  /* position: relative; */
  /* margin-top: 2rem; */
  position: absolute;
  top:0;
  left:0;

}
.up-arrow-container {
  background-color: var(--themeColor);
  z-index: 20000;
  /* padding:1rem; */
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.2s ease;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0;
}
.popup {
  opacity: 1;
}
.fa-angle-up {
  color: var(--lightTheme1);
  font-size: 2rem;
}
.up-arrow-container:hover {
  background-color: var(--themeColorDark);
}

#swiper-slide1 {
  background: url("/assets/images/banner1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#swiper-slide2 {
  background: url("/assets/images/banner2.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#swiper-slide3 {
  background: url("/assets/images/banner3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#swiper-slide4 {
  background: url("/assets/images/achievement-banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#swiper-slide5 {
  background: url("/assets/images/about-us-banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#swiper-slide6 {
  background: url("/assets/images/computer-courses.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#swiper-slide7 {
  background: url("/assets/images/contact-us-image-banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide > .overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(143, 90, 190, 0.8),
    rgba(75, 73, 197, 0.8)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.landing-contents {
  max-width: calc(var(--maxWidth) - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap:2rem; */
}

.landing-title {
  font-size: 4.2rem;
  font-family: var(--landingPageFont);
  font-weight: 300;
  color: white;
  line-height: 80px;
}

.landing-description {
  color: rgb(216, 215, 239);
  margin-top: 2rem;
}

.landing-button {
  margin-top: 2.5rem;
  cursor: pointer;
  padding: 18px 40px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: 0.2s ease-in;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: var(--themeColor);
}
.landing-button:hover {
  background-color: var(--themeColorDark);
}

.custom-shape-divider-bottom-1702999017 {
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 10000;
}

.custom-shape-divider-bottom-1702999017 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 188px;
}

.custom-shape-divider-bottom-1702999017 .shape-fill {
  fill: var(--lightTheme2);
}
.hero {
  position: relative;
}

.user-toggle{
  color: var(--darkTheme2) !important;
}

@media (max-width: 1030px) {
  .logo-title {
    /* font-size: 2rem; */
    font-weight: 500;
    font-family: var(--bodyFont2);
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
  }
  
  .logo-title > .logo-title-child{
    font-weight: 400;
    font-size: 15px;
  }
  .logo > img {
    height: 4.5rem;
  }
  #award-gallery-title{
    padding-top: 3rem;
    margin-bottom: 2rem !important;
  }
  .links-container {
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 0px 20px rgb(228, 228, 228);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
    /* animation: slideIn 0.1s ease; */
  }

  .links {
    flex-direction: column;
    padding: 5rem 0 4rem 0;
    gap: 2rem;
  }
  .active {
    opacity: 1;
  }
  /* @keyframes slideIn {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(0);
    }
  } */
  .landing-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .wrapper {
    max-width: calc(var(--maxWidth) - 500px);
  }
  .landing-contents {
    max-width: calc(var(--maxWidth) - 500px);
  }
  .fa-bars-staggered {
    display: block !important;
  }
  .gallery {
    max-width: calc(var(--maxWidth) - 500px) !important;
  }

  /* Featured Courses Section */
  .feature-cards-container{
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: red; */
    max-width: calc(var(--maxWidth) - 500px) !important;
  }
  .card{
    width:47% !important;
  }
  .card-middle-section {
    padding: 1rem 2rem 2.5rem 2rem !important;
  }
}

@media (max-width: 780px) {
  .logo-title {
    /* font-size: 2rem; */
    font-weight: 500;
    font-family: var(--bodyFont2);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .logo-title > .logo-title-child{
    font-weight: 400;
    font-size: 14px;
  }
  .logo > img {
    height: 4.3rem;
  }
  .gallery {
    max-width: calc(var(--maxWidth) - 700px) !important;
  }
  .wrapper {
    max-width: calc(var(--maxWidth) - 700px);
  }
  .landing-contents {
    max-width: calc(var(--maxWidth) - 700px);
  }
  .feature-cards-container{
    max-width: calc(var(--maxWidth) - 700px) !important;
  }
  .card{
    width:auto !important;
  }
  .feature-courses-section{
    margin-top: 0 !important;
    padding-top: 2rem !important;
  }

}

@media (max-width: 510px) {
  .landing-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .navbar {
    padding: 0 1rem;
  }
  .logo-title {
    /* font-size: 2rem; */
    font-weight: 500;
    font-family: var(--bodyFont2);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
  }
  
  .logo-title > .logo-title-child{
    font-weight: 400;
    font-size: 15px;
  }
  .logo > img {
    height: 4rem;
  }
  .landing-contents {
    max-width: calc(var(--maxWidth) - 750px);
    padding: 0 2rem;
  }
  .nav-button{
    height: auto;
    padding: 0.6rem 1.4rem 0.6rem 1.4rem;
    font-size: 0.8rem;
    width:auto;
  }
  .gallery {
    padding-right:1rem;
    padding-left:1rem;
  }
  .card-middle-section {
    padding: 1rem 2rem 1.5rem 2rem !important;
  }
}

@media (max-width: 400px) {
  .logo-title {
    /* font-size: 2rem; */
    font-weight: 500;
    font-family: var(--bodyFont2);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
  }
  
  .logo-title > .logo-title-child{
    font-weight: 400;
    font-size: 12px;
  }
  .navbar{
    padding-left:0.8rem !important;
    padding-right:0.8rem !important;
  }
  .logo > img {
    height: 3rem;
  }
  .landing-contents {
    max-width: calc(var(--maxWidth) - 700px);
    padding: 0 1rem;
  }
  .landing-title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .landing-description {
    /* font-size: 1rem; */
    line-height: 1.5rem;
  }
  .landing-button {
    padding: 16px 40px;
    font-size: 0.9rem;
  }
  .register-title {
    display: none;
  }
  .fa-moon {
    font-size: 1.3rem;
  }
  .feature-courses-section{
    margin-top: 0 !important;
    padding-top: 1.5rem !important;
  }
  /* .nav-button{
    height: auto;
    padding: 0.4rem 1rem 0.4rem 1rem;
    font-size: 0.8rem;
    width:auto;
  } */
}

.feature-courses-section {
  height: auto;
  width: 100vw;
  background-color: var(--lightTheme2);
  color: rgb(63, 58, 100);
  padding: 2rem 1rem 3rem 1rem;
}
.feature-courses-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 3rem;
  /* background-color: purple; */
  
}
.header-1 {
  color: #7e7f85;
  letter-spacing: 1px;
}
.header-2 {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
}

.feature-cards-container {
  /* background-color: green; */
  max-width: var(--maxWidth);
  margin: auto;
  margin-top: 1rem;
  display: flex;
  gap:2.5rem;
}

.card {
  background-color: var(--lightTheme1);
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* box-shadow: 0px 0px 5px rgb(215, 215, 215); */
}

.feature-course-image {
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0.3rem 0.3rem 0 0;
}
.header-2{
  text-align: center;
}
.feature-course-image:hover {
  transform: scale(1.1);
}

.image-container {
  overflow: hidden;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-cont-main{
  overflow: hidden;
  height: 23rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  border-radius: 6px;
}

.cont-1{
  background-image: url('./images/banner2.jpg');
}

.cont-2{
  background-image: url('./images/diploma.jpg');
}
.cont-3{
  background-image: url('./images/computer-software.jpg');
}
.cont-4{
  background-image: url('./images/web-design.avif');
}
.cont-5{
  background-image: url('./images/hardware-courses.jpg');
}
.cont-6{
  background-image: url('./images/banner1.jpg');
}
.cont-7{
  background-image: url('./images/accounting.jpg');
}
.cont-8{
  background-image: url('./images/graphics.avif');
}
.cont-9{
  background-image: url('./images/coding.jpg');
}

.cont-main-1{
  background-image: url('../assets/images/banner2.jpg');
}
.cont-main-2{
  background-image: url('../assets/images/diploma.jpg');
}
.cont-main-3{
  background-image: url('../assets/images/computer-software.jpg');
}
.cont-main-4{
  background-image: url('../assets/images/web-design.avif');
}
.cont-main-5{
  background-image: url('../assets/images/hardware-courses.jpg');
}
.cont-main-6{
  background-image: url('../assets/images/banner1.jpg');
}
.cont-main-7{
  background-image: url('../assets/images/accounting.jpg');
}
.cont-main-8{
  background-image: url('../assets/images/graphics.avif');
}
.cont-main-9{
  background-image: url('../assets/images/coding.jpg');
}


.card-middle-section {
  padding: 1rem 2rem 3rem 2rem;
}

.course-price{
  color: var(--themeColor);
  font-size: 1.3rem;
}
.course-detail-section{
  background-color: var(--lightTheme2);
  width: 100vw;
  height: auto;
}
.course-detail-section-main{
  color:var(--blackColorDark) !important;
}
.course-detail{
  padding:1.2rem;
  border:1px solid rgb(227, 227, 227);
  border-radius: 5px;
  width:70%;
}
.course-detail > h2 {
  font-size: 1.6rem;
  margin-top: 1rem;
  color:var(--darkTheme1)
}
.other-courses-link > h2{
  color: var(--darkTheme1);
}
.other-courses-link{
  padding:1.2rem;
  border:1px solid rgb(227, 227, 227);
  border-radius: 5px;
  width:fit-content;
  height: fit-content;
}

.course-detail-section-main{
  width: var(--maxWidth);
  /* background-color: red; */
  height: 100%;
  margin: auto;
  padding-top:2rem;
  padding-bottom:1rem;
  font-family: var(--bodyFont2);
  display: flex;
  justify-content: space-between;

}
.courses-section-main-courses{
  padding-left:0.5rem !important;
  padding-right: 0.5rem !important;
}
.para-1 {
  font-size: 1.05rem !important;
  color:rgb(147, 147, 147);
  margin-top: 0.5rem;
  line-height: 1.8rem;
}
.course-list{
  margin-top: 1rem;
  color:rgb(104, 104, 104);
  line-height: 2rem;
  font-size: 1rem;
  font-family: var(--landingPageFont);
}

.course-list-main > li {
  cursor: pointer;
  /* margin-top: 1rem; */
  transition: 0.17s ease;

  line-height: 1.5rem;
  font-size: 1.06rem;
  /* transition: 0.2s ease-in-out; */
  position: relative;
}
.course-list-main > li > a{
  color:rgb(152, 152, 152) !important;
  font-weight: 500;
}
.course-list-main >li:hover{
  transform: scale(1.04) !important;
}
.course-list-main > li > a:hover{
  color:rgb(78, 78, 78) !important;
}
.courses-details-right-section{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.goto-courses-btn-container{
  display: flex;
  height: 3.5rem;
  /* border:1px solid rgb(222, 222, 222); */
  outline:none;
  cursor: pointer;
  width:100%;
  gap:0.3rem;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2rem;
  border-radius: 0.5rem;
  background-color: var(--lightTheme3);
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.2s ease;
  border:1px solid var(--themeColor);
  background-color: var(--lightTheme2);
}
.goto-courses-btn-container:hover{
  background-color: var(--themeColorDark);
}
.goto-courses-btn-container> .goto-courses-section{
  color:var(--themeColorDark) !important;
}
.goto-courses-btn-container:hover> .goto-courses-section{
  color:var(--lightTheme1) !important;
}
.fa-arrow-left{
  font-size: 1.1rem;
  /* background-color: red; */
}
.goto-courses{
  /* background-color: green; */
  height: fit-content;
}

@media (max-width: 1250px) {
  .course-detail-section-main {
    /* background-color: red; */
    gap:1.5rem;
    justify-content: center;
  }  
  .course-detail{
    width:60%;
  }
  .image-cont-main{
    height: 20rem;
  }
}
.goto-courses-section {
  color:var(--darkTheme1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}
@media (max-width: 1180px) {
  .course-detail-section-main {
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width:700px;
  }  
  .courses-details-right-section{
    flex-direction: column-reverse;
    width:100%;
  }
  .course-detail{
    width:100%;
  }
  .other-courses-link{
    width:100%;
  }
}

@media (max-width: 780px) {
  .course-detail-section-main {
    width:500px;
  }  
  .image-cont-main{
    height: 15rem;
  }
}
@media (max-width: 540px) {
  .course-detail-section-main {
    width:420px;
    gap:1rem;
  }  
  .image-cont-main{
    height: 12rem;
  }
  .course-detail > h2{
    font-size: 1.4rem;
  }
  .course-detail{
    /* padding:0.7rem; */
  }
  .para-1{
    font-size: 1rem !important;
    line-height: 1.65rem;
  }
  .courses-details-right-section{
    gap:1rem;
  }
}
@media (max-width:440px) {
  .course-detail-section-main {
    width:355px;
  }  
  .course-detail{
    padding: 1rem 0.8rem 1rem 0.8rem;
  }
  .image-cont-main{
    height: 9rem;
  }
  .para-1{
    font-size: 1rem !important;
    line-height: 1.55rem;
  }
  .course-detail > h2{
    font-size: 1.2rem;
  }
  .course-list > li{
    line-height: 1.8rem;
  }
}
.first-middle-section {
  display: flex;
  width: 100%;
  /* background-color: blue; */
  justify-content: space-between;
  align-items: center;
}
.para-2{
  font-weight: 600;
  font-size: 1.2rem !important;
  color:rgb(115, 115, 115) !important;
  margin-top: 0.5rem;
  line-height: 1.8rem;
}

.card-middle-section{
  display: flex;
  flex-direction: column;
  gap:1rem;
  border-bottom:1px solid rgb(222, 222, 222);
}

.card-title {
  width: 100%;
  /* background-color: pink; */
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  transition: 0.2s ease;
}

.card-title:hover{
  color: rgb(77, 77, 237);
  cursor: pointer;
}

.course-time-period {
  display: flex;
  align-items: center;
  /* background-color: green; */
  width: 100%;
  margin-top: 1rem;
}

.card-final-section {
  /* background-color: red; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding:0 0 0.5rem 2rem;
  gap:1rem;
}
.final-course-text {
  display: flex;
  align-items: center;
  gap: 7px;
}
.course-user-image {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
}

.final-course-text{
  color:gray;

}

.fa-clock{
  font-size: 1.1rem;
}

.course-time-period{
  display: flex;
  gap:0.6rem;
  align-items: center;
  color:gray;
}

.username , .user-work{
  font-size: 1.1rem;
  color: var(--blackColorDark);
  font-weight: 500;
}
.course-link{
  color:var(--themeColor);
  font-size: 1.2rem;
}
.course-link:hover{
  color:var(--themeColorDark);
}

.fa-star{
  color:#5B7CDA;
}


.all-courses{
  color:gray;
  font-family: var(--landingPageFont);
  font-size: 1rem;
  text-align: center;
  margin-top: 3.5rem;
}


.parallax-section{
  background-image: url('/assets/images/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 31rem;
}

#overlay1 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(141, 69, 203, 0.8),
    rgba(58, 56, 220, 0.8)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem 0 1rem;
}
#parallax-contents{
  max-width: calc(var(--maxWidth) - 400px);
}
#parallax-section-title{
  font-family: var(--bodyFont);
  font-weight: 500;
  font-size: 2.9rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.parallax-btns-container{
  display: flex;
  gap:1rem;
  margin-top: 0.5rem;
}

#parallax-btn-1{
  background-color: transparent;
  border:1px solid white;
}
#parallax-btn-1:hover{
  background-color: var(--lightTheme1);
  color:var(--darkTheme2);
}

@media (max-width: 510px) {
  #parallax-section-title{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0;
  }
  .parallax-btns-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }
  #parallax-btn-2{
    margin-top: 0;
  }
  .parallax-btns-container{
    margin-top: 0;
  }
  .parallax-section{
    height: 28rem;
  }
  #parallax-contents{
    gap:1.5rem;
  }
  #parallax-desc{
    margin:0;
    line-height: 0;
  }
  #paralax-section-title{
    line-height: 0;
  }
  #parallax-btn-2 , #parallax-btn-1{
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  #parallax-section-title{
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .parallax-btns-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }

}
.facilities-section{
  height: auto;
  width:100vw;
  background-color: var(--lightTheme3);
  font-family: var(--bodyFont2);
}

.facilities-contents-container{
  padding:5rem 0 5rem 0;
}

.t1{
  color: rgb(126, 126, 126);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.t2{
  font-size: 2.3rem;
  font-weight: 700;
  color:var(--darkTheme1);
  margin-bottom: 1rem;
}

.facilities-desc {
  font-size: 1.1rem;
  color: rgb(137, 137, 137);
  line-height: 1.7rem;
}

.facilities-card-desc{
  color:gray;
  font-size: 1.1rem;
  line-height: 1.7rem;

}

.facilities-left-section {
  padding:3rem 2rem 2rem 0;
}

.facilities-card-header{
  font-size: 1.3rem;
  font-family: var(--bodyFont2);
  color: var(--darkTheme1);
  font-weight: 600;
  transition: 0.1s ease;
}

.facilities-card-header:hover{
  color: var(--themeColor);
}

.facilities-contents-container{
  max-width: var(--maxWidth);
  height: 100%;
  margin: auto;
  /* background-color: red; */
  display: flex;  
}

.facilities-card{
  height:15.5rem;
  background-color: var(--lightTheme1);
  width:20rem;
  border-radius: 0.5rem;
  padding:3rem 2rem 2.4rem 2rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.facilities-card:hover{
  box-shadow: 0px 0px 30px rgb(232, 232, 232);
}

.facilities-right-section {
  display: flex;
  gap:1.5rem;
}
.right-section1 , .right-section2{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.fa-trophy , .fa-certificate , .fa-book , .fa-graduation-cap{
  color: var(--themeColor);
  font-size: 1.5rem;
}


@media (max-width: 1260px) {
  .facilities-card{
    width:15rem;
    padding-bottom: 2.5rem;
    height: auto;
  }
  .facilities-contents-container{
    padding-right:2rem;
    padding-left:2rem;
  }
}

@media (max-width: 1030px) {
  .facilities-contents-container{
    flex-direction: column;
    max-width: calc(var(--maxWidth) - 440px);
  }
  .facilities-right-section{
    justify-content: center;
    padding-top: 1rem;
  }
  .facilities-card{
    height:auto;
    background-color: var(--lightTheme1);
    width:20rem;
    border-radius: 0.5rem;
    padding:3rem 2rem 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    cursor: pointer;
    transition: 0.2s ease;
  }
}

@media (max-width: 780px) {
  .facilities-contents-container{
    max-width: calc(var(--maxWidth) - 640px);
  }
  .facilities-card{
    width:15rem;
    padding-bottom: 2.5rem;
    height: auto;
  }
}


@media (max-width: 510px) {
  .facilities-card{
    width:100%;
    padding-bottom: 2.5rem;
    height: auto;
  }
  .facilities-right-section{
    flex-direction: column;
  }
  .facilities-left-section {
    padding-right:0;
  }
  .facilities-contents-container{
    padding:2rem 1rem  2rem 1rem;
  }
}


#team-section {
   height: auto;
   width: 100%;
   background-color: var(--lightTheme1);
   font-family: var(--bodyFont2);
}

.team-header {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--darkTheme1);
}

.team-desc {
  font-family: var(--landingPageFont);
  color: gray;
}

.team-first-section {
  text-align: center;
}

.team-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:2rem;
  padding-top: 4rem;
}

.team-contents {
  height: 100%;
  max-width: var(--maxWidth);
  margin: auto;
  padding:4rem 0 4rem 0;
}

.fa-facebook {
  color: var(--blueColor);
}


.team-image , .team-member-title {
  cursor: pointer;
  transition: 0.3s ease;
}

.team-image-wrapper {
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.team-image:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.team-member-title {
  font-size: 1.1rem;
  color: var(--darkTheme1);
  font-weight: 500;
  margin-top: 1rem;
  font-family: var(--bodyFont2);
}

.team-member-position {
  font-size: 0.95rem;
  color: rgb(139, 139, 139);
}

.team-image {
  height: 18rem;
  border-radius: 1rem;
}

@media (max-width: 1030px) {

  .team-contents {
    /* background-color: red; */
    max-width: calc(var(--maxWidth) - 440px);
    padding-left: 1rem;
    padding-right: 1rem;
  } 
}

@media (max-width: 510px) {
  .team-image {
    height: 20rem;
  }
  .team-header {
    font-size: 2rem;
  }
  .team-card-container {
    gap:1.5rem;
    padding-top: 2.5rem;
  }
  .facilities-card-desc{
    font-size: 1rem;
  }
  .ceo-image{
    height: 7rem !important;
    width: 7rem !important;
  }

}


/* CEO Message Section */
.ceo-message-section {
  background-image: url("./images/wave-haikei.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100vw;
}


.ceo-message-contents {
  height: 100%;
  max-width: var(--maxWidth);
  /* background-color: red; */
  margin: auto;
  padding: 7rem 0 5rem 0;
  color: var(--darkTheme1);
}

.ceo-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.ceo-message-header {
  text-align: center;
  font-family: var(--landingPageFont);
  word-spacing: 0.7rem;
  line-height: 2.8rem;
}

.ceo-t1 , .ceo-t2{
  color: var(--themeColorDark);
  font-size: 3rem;
  font-weight: 600;
}
.ceo-t3 {
  font-size: 3rem;
  font-weight: 600;
  color:var(--headerTextColor);
}


.ceo-message-desc {
  font-size: 17px;
  line-height: 2.3rem;
  width: 40rem;
  margin: auto;
  margin-top: 1rem;
  color: rgb(126, 126, 126);
  text-align: justify;
}

.ceo-desc-color {
  color: var(--themeColorDark);
}


@media (max-width: 1030px) {
  /* .ceo-image {
    height: 9rem;
    width:9rem;
  } */
  .ceo-t1 , .ceo-t2 , .ceo-t3{
    font-size: 2.6rem;
    line-height: 2rem;
  }
}


@media (max-width: 780px) {
  .ceo-message-contents {
    max-width: calc(var(--maxWidth) - 640px);
  }
  .ceo-message-desc{
    width:auto;
    padding: 0 1.5rem 0 2rem;
    line-height: 1.8rem;
  }
  .ceo-t1 , .ceo-t2 , .ceo-t3{
    font-size: 2.4rem;
    line-height: 1.9rem;
  }
}
/* @media (max-width: 1250px) {
  .footer-contents {
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */


@media (max-width: 510px) {
  .ceo-message-header{
    font-size: 1rem !important;
  }
}


.courses-section {
  width: 100vw;
  background-color: var(--lightTheme2);
}
#card-main{
  width: 23rem !important;
}
.courses-section-main-courses{
  padding:2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  max-width: 100vw;
  flex-direction: row;
  /* background-color: red; */
  margin: auto;
  width: var(--maxWidth);
  gap:1.5rem;
}

.listPage{
  width:100% !important;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding:1rem;
}

.listPage > li {
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(243, 243, 243);
  height: 2.6rem;
  width:2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 6px;
}
.li-active{
  background-color: var(--themeColor) !important;
  border:1px solid var(--themeColor) !important;
  color:white;
}
.li-active:hover{
  color:white !important;
}
.listPage > li:hover{
  border: 1px solid var(--themeColor) !important;
  color: var(--themeColor);
}




.footer-section {
  height: auto;
  /* width: 100vw; */
  background-color: #26243C;
  color: var(--lightTheme1);
  font-family: var(--bodyFont2);
}


.footer-contents {
  height: 100%;
  width: var(--maxWidth);
  margin: auto;
  display: flex;
  padding: 4rem 0 4rem 0;
  gap:15rem;
}

hr.new1 {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.footer-header{
  font-size: 1.5rem !important;
  color: var(--lightTheme1) !important;
  transition: 0.2s ease;
  margin-bottom:1rem;
  font-weight: 600;
}

.sega-footer-img {
  height: 14rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(rgba(13, 10, 33, 0.1),rgba(0, 0, 0, 0.2)) , url('images/achievement-sega.jpg')!important;
  box-shadow: 0px 0px 20px rgb(50, 50, 87);
  width:22rem;
  z-index: 1000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.footer-email{
  height: 3rem;
  width:auto;
  padding: 0 0.7rem;
  border-radius: 0.5rem;
  border:none;
  outline:none;
}
.send-email-title{
  font-size: 1.5rem;
  font-weight: 600;
}
.footer-content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-contact-text{
  font-size: 1.1rem;
  color:var(--lightTextColor);
}
.send-email-button{
  height: 3rem;
  font-size: 1rem;
  /* font-weight: 500; */
  /* background-color: var(--themeColorDark); */
  background-color: transparent;
  border: 1px solid var(--lightTheme2);
  color:var(--lightTheme2);
  width:10rem !important;
  /* border:none; */
  outline:none;
  border-radius: 1.6rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s ease;
}
.send-email-button:hover{
  background-color: var(--lightTheme2);
  color:var(--darkTheme2)
}


.footer-links {
  color: gray;
  font-size: 1.1rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.footer-links:hover  , #facebook-icon:hover{
  color: var(--lightTheme1);
}

.footer-media-links {
  display: flex;
  gap:1rem;
  padding-top: 1.5rem;
}
.footer-media-links, #facebook-icon {
  color: gray;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s ease;
}
#footer-section-1 > .footer-links{
  font-size: 1.2rem;
}
.fa-instagram:hover , .fa-twitter:hover , .fa-discord:hover {
  color: var(--lightTheme1);
}



.right-reserve {
  padding:1.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  color:gray;
  text-align: center;
}

.footer-section1 {
  display: flex;
  gap:10rem;
}

@media (max-width: 1270px) {
  .footer-contents {
    padding-left:1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap:10rem;
    padding:4rem;
  }
  .footer-section1 {
    gap:6rem;
  }
}

@media (max-width: 1200px) {
  .footer-section1{
    flex-direction: column;
  }
}

@media (max-width: 1020px) {
  .footer-contents {
    max-width: calc(var(--maxWidth) - 400px);
  }
}

@media (max-width: 770px) {
  .footer-contents {
    max-width: calc(var(--maxWidth) - 700px);
    gap:2rem;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .footer-section1{
    gap:3rem;
  }

}

@media (max-width: 550px) {
  .footer-contents {
    flex-direction: column;
    padding:4rem 2rem 4rem 2rem;
  }
  .footer-header {
    font-size: 1.3rem !important;
    margin-bottom: 0.5rem;
  }
  .right-reserve {
    font-size: 1rem;
  }
  #footer-section-1 > .footer-links{
    font-size: 1rem !important;
  }
  .footer-section > .footer-links {
    font-size: 1rem !important;
  }
  .sega-footer-img {
    height: 12rem;
    border-radius: 0.5rem;
  }
  .footer-mail-section{
    width:19rem;
  }
  .send-email-button{
    height: 2.8rem !important;
    width:9rem !important;
  }
}



#about-us-header {
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--bodyFont2);
}
#about  , #courses , #contact{
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100vw;
  font-family: var(--bodyFont);
}

#about-desc {
  margin-top: 0;
}



.about-us-section {
  background-color: var(--lightTheme2);
  height: auto;
  width:100vw;
}
.about-card-container  {
  /* background-color: red; */
  max-width: var(--maxWidth);
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}



.about-card {
  border-radius: 1rem;
  cursor: pointer;
  z-index: 2000 !important;
  padding: 2rem;
  width:24rem;
  border-radius: 0.7rem;
  background-color: var(--lightTheme1);
  /* box-shadow: 0px 0px 30px rgb(246, 246, 246); */
}
.about-card-upper {
  display: flex;
  margin-bottom: 1.5rem;
}

.about-card-header > span {
  color: rgb(158, 158, 158) !important;
  font-size: 1.2rem;
}
.about-icon-container {
  /* padding:1.5rem; */
  background-color: var(--lightTheme2);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card:hover  .about-icon-container{
  background-color: var(--themeColor) !important;
}
.about-card:hover  .about-icon {
  color:white !important;
}

.about-card:hover {
  box-shadow: 0px 0px 30px rgb(240, 240, 240);
}

.about-card-header {
  font-size: 1.8rem;
  margin-left: 2rem;
}


.about-card-desc {
  font-size: 1rem;
  color:gray;
  line-height: 1.5rem;
}
.about-us-main-section {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 4rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.about-us-image {
  height: 23rem;
  border-radius: 0.7rem;

}

@media (max-width: 1250px) {
  .about-card {
    width:21rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;

  }
  .about-card-container {
    justify-content: center;
    gap:1.5rem;
  }
  .about-us-main-section {
    padding: 4rem 2rem;
    align-items: center;
  }
  .progress-bar-container {
    padding-right:1rem;
    padding-left:1rem;
  }
}

@media (max-width: 1130px) {
  .about-card {
   width:20rem; 
  }
}

@media (max-width: 1020px) {
  .about-card-container {
    max-width: calc(var(--maxWidth) - 500px);
    flex-wrap: wrap;
    justify-content: start;
    gap:2rem;
  }
  .about-us-main-section {
    flex-wrap: wrap;
    max-width: calc(var(--maxWidth) - 450px);
  }
  .about-us-image {
    width: 100%;
    height: auto;
  }
  #about-desc {
    margin-top: 1rem !important;
  }
  #about-us-header {
    font-size: 2.1rem;
  }
  .progress-contents{
    max-width: calc(var(--maxWidth) - 500px) !important;
    flex-wrap: wrap;
  }
  .progress-bars{
    width:100% !important;
  }
  .progress-bar-container{
    width:100%;
  }
  #parallax-section {
    height: auto !important;
  }
  .box-container {
    flex-wrap: wrap;
    gap:2rem !important;
    max-width: calc(var(--maxWidth) - 500px) !important;
    /* background-color: red; */
  }
  /* #o-1 {

  } */
}
@media (max-width: 1150px) {
  #p-s-tt {
    font-size: 1.8rem !important;
  }
}
@media (max-width: 780px) {
  .about-card-container {
    max-width: calc(var(--maxWidth) - 700px);
    /* background-color: red; */
  }
  .about-card {
    width: 100%;
  }
  .about-us-main-section {
    max-width: calc(var(--maxWidth) - 650px);
  }
  #about-second-header2 , .t2 {
    font-size: 2rem;
  }
  #a-u {
    padding:1rem 0 1rem 0;
  }
  .t2{
    margin-bottom:8px;
  }
  #l-b {
    margin-top: 1.5rem;
  }
  .progress-contents {
    max-width: calc(var(--maxWidth) - 700px) !important;
    gap:1rem !important;
  }
  .progress-bar-container {
    padding: 0 !important;
  }
}

@media (max-width: 510px) {
  .about-card-container {
    padding-left:1rem;
    padding-right:1rem;
  }
  .about-us-main-section {
    padding:1rem;
  }
  #about-second-header2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #about-second-header1{
    font-size: 0.8rem;
    font-family: var(--landingPageFont);
  }
  #about-s-d {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 0;
  }
  .progress-bar-container {
    padding: 0 1rem 0 1rem !important;
  }
  #l-section {
    padding: 2rem 1rem 0 1rem !important;
  }
  .t2 {
    font-size: 1.5rem;
  }
  #f-desc {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .about-card-header {
    font-size: 1.5rem !important;
  }
  .about-card-upper{
    margin-bottom: 0.5rem;
  }
  .about-card-desc{
    margin-top: 0;
  }
}


.progress-section {
  height: auto;
  width:100vw;
  background-color: var(--lightTheme3);
  color: var(--darkTheme1);
  font-family: var(--bodyFont2);
}

.progress-contents {
  height: 100%;
  max-width: var(--maxWidth);
  margin:auto;
  padding:4rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4rem;
}

.progress-bar-container {
  /* background-color: rgb(217, 217, 251); */
  /* padding:2rem; */
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.progress-title , .progress-bar-percentage{
  font-size: 1.1rem;
  font-weight: 600;
}
.progress-bars {
  /* background-color: rgb(255, 223, 223); */
  width: 30rem;
}

.progress-bar-line {
  width:100%;
  background-color: rgb(229, 229, 229);
  height: 8px;
  border-radius: 8px;
  position: relative;
}
.progree-bar-limit{
  width:90%;
  background-color: rgb(255, 66, 66);
  height: 8px;
  border-radius: 8px;
}
.limit1 {
  width:90%;
}

.limit2{
  width:80%;
}

.limit3 {
  width: 60%;
}

.limit4 {
  width: 70%;
}

.limit5{
  width: 60%;
}
.progress-bar-percentage {
  position: absolute;
  
  top:-1.4rem;
}

.pp1 {
  left:85%;
}

.pp2{
  left:75%;
}

.pp3{
  left: 55%;
}

.pp4 {
  left:65%;
}

.pp5{
  left:55%;
}



.counter-title {
  font-size: 1.3rem;
  font-weight: 600;
  color:rgb(217, 217, 217);
}

#parallax-section {
  height: 25rem;
}

.box-section-1 , .box-section-2{
  display: flex;
  gap:6rem;
}

.box-container{
  font-family: var(--bodyFont2);
  color:white;
  display: flex;
  gap:6rem;
  padding-top: 2rem;
}
.num-cont {
  font-size: 3rem;
  font-weight: 700;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}



#contact-feature-section{
  padding-top:2rem;
}
#feature-contents-contact {
  margin-bottom: 2rem;
}
#contact-left-section {
  /* background-color: red; */
  width:50%;
}

#t1 {
  margin-bottom: 0;
  color:gray;
}
#t2{
  font-size: 2.5rem;
  /* font-weight: 00; */
  color:var(--darkTheme1);
  margin-bottom: 1rem;
  font-family: var(--bodyFont2);
}

.contact-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap:1.4rem;
  margin-top: 2.5rem;
}

.contact-information{
  display: flex;
  align-items: baseline;
  gap:2rem;
}

.fa-phone , .fa-envelope, .fa-location-dot {
  font-size: 1.2rem;
  color: var(--themeColor);
}
.c-info-header {
  color: var(--darkTheme1);
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--landingPageFont);
}


.c-info-desc {
  color: rgb(157, 157, 157);
  font-size: 1.05rem;
}

.con-head {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--darkTheme1);
}

.first-credentials {
  display: flex;
  justify-content: space-between;
  gap:1rem;
}

.form-content {
  background-color: var(--lightTheme1);
  border-radius: 1.5rem;
  border: none;
  outline:none;
  height: 3.5rem;
  width:100%;
  color:var(--darkTheme1);
  padding:1.5rem;
  font-family: var(--bodyFont2);
  font-size: 1.1rem;
  transition: 0.3s ease;
}
.form-content:focus{
  border:1px solid var(--themeColor);
  transition: 0.3s ease;
}
.right-section-contact {
  padding:1.5rem;
  background-color: var(--lightTheme3);
  width:50%;
  border-radius: 1rem;
  padding-top: 3rem;
  display: flex;
  gap:1rem;
  flex-direction: column;
}
#contact-btn{
  margin-top: 1rem !important;
}
.textarea{
  width:100%;
  resize:none;
  height: 14rem !important;
}

.contact-map {
  width:100%;
}


@media (max-width: 1030px) {
  .contact-map {
    height: 22rem;
  }
  #feature-contents-contact {
    width: calc(var(--maxWidth) - 400px);
  }
  .right-section-contact {
    width:100% !important;
  }
  #contact-left-section {
    display: flex;
    width:100%;
    /* flex-direction: row-reverse; */
    align-items: center;
    /* gap:1rem; */
  }
  .contact-main-left{
    padding:0 !important;
  }
  .contact-container{
    min-width:20rem;
  }
  #contact-feature-section {
    padding-bottom:1rem;
  }
  #t2{
    font-size: 2.2rem;
  }
}


@media (max-width:780px) {
  #contact-left-section{
    flex-direction: column;
    align-items: baseline;
    width:100%;
  }
  #feature-contents-contact {
    width: calc(var(--maxWidth) - 700px);
  }
  .form-content{
    height: 1rem;
  }
  .textarea{
    height: 10rem !important;
  }
  .con-head {
    font-size: 1.7rem;
    margin-left: 0.5rem;
  }
  #feature-contents-contact , #contact-feature-section{
    margin-top:0;
  }
}

@media (max-width: 510px) {
  #t2{
    font-size: 2rem;
  }
  #contact-left-section{
    width:100vw !important;
    /* background-color: red; */
    padding:0;
  }
  #feature-contents-contact {
    width: calc(var(--maxWidth) - 800px);
  }
  #feature-contents-contact , #contact-feature-section{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .first-credentials{
    flex-direction: column;
  }
  .right-section-contact{
    padding:1rem !important;
    margin-bottom: 2rem;
  }
  #contact-left-section{
    padding:1rem;
  }
  #contact-feature-section {
    padding-bottom:0 !important;
  }
  #feature-contents-contact , #contact-feature-section{
    margin-top:0;
  }
}

@media (max-width:430px) {
  #feature-contents-contact {
    width: calc(var(--maxWidth) - 870px);
  }
  #feature-contents-contact , #contact-feature-section{
    padding-left: 0.5rem !important;
    padding-right: 0rem !important;
    margin-top:0;
  }
  #t2{
    font-size: 1.6rem;
  }
  .con-head{
    font-size: 1.4rem;
  }
  #t3{
    line-height: 1.4rem;font-size: 1rem;
  }

}


.left-courses-main-section {
  /* background-color: red; */
  position: relative;
  display: flex;
  gap:2rem;
  height: auto;
  width:auto;
  color:var(--blackColorDark);
  /* flex-direction: column; */
}

.left-courses-main-section-container{
  display: flex ;
  flex-direction: column;
  gap:1.4rem;
  /* background-color: red; */
  height: auto;
  /* padding-top:rem; */
  min-width:15rem !important;
}
#course-list-1{
  width:auto !important;
  /* background-color: red; */
  height: 100%;
}
.border-links{
  /* position: absolute; */
  height: 100% !important;
  width:4px;
  background-color: var(--themeColor);
  border-radius: 2rem;
}

#feature-contents-courses{
  display: flex;
  gap:8rem;
}

.all-courses-left-section {
  display: flex;
  flex-direction: column;
  gap:1.3rem;
  
}

.all-courses-left-section > li{
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--bodyFont2);
  /* font-weight: 500; */
}

.all-courses-left-section > li:before{
  content: "";
  position: absolute;
  top:50%;
  left:-1rem;
  transform: translate(-50% , -50%);
  width:1rem;
  height: 2px;
  background-color: var(--themeColorDark);
  border-radius: 2rem;
}
#right-course-detail-section{
  /* background-color: red; */
  /* width:20rem; */
}
.all-courses-left-section > li:hover{
  color:var(--themeColor);
}
.all-courses-left-section > li:focus{
  color:var(--themeColor);
}

#course-s-h{
  font-size: 1.8rem;
  font-weight: 600;
}

#courses-s-d {
  color: rgb(101, 104, 133);
  font-size: 1rem;
  font-family: var(--bodyFont2);
}

.course-detail-desc {
  padding-top: 0.5rem;
}
.t1{
  padding-top: 1.5rem;
}
#courses-title-top{
  font-size: 2rem;
  margin: 0.5rem;
}
.course-link-active {
  color:var(--themeColorDark);
}

.following-topics {
  font-size: 1.05rem;
  color:var(--themeColorDark);
  margin-top:1rem ;
  font-family: var(--landingPageFont);
}

.course-list-main {
  font-size: 1.05rem;
  color: rgb(82, 82, 82);
  font-family: var(--bodyFont2);
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding-top: 1rem;
}
.course-detail-desc {
  padding-bottom: 2rem;
}
.course-links:focus {
  color: var(--themeColor) !important;
}
/* .course-active-content {
  display: block !important;
}

.course-inactive-content {
  display: none !important;
} */


.course-desc-2 , .course-desc-3 , .course-desc-4 , .course-desc-5 , .course-desc-6 , .course-desc-7 , .course-desc-8 , .course-desc-9{
  display: none;
}



#courses-top-section{
  padding-top: 0;
}


#courses-main-image{
  height: 20rem;
}

#a-u2{
  width:20rem;
}

#courses-top-section {
  /* background-color: red; */
  gap:2rem;
  padding-bottom:3rem;
}

.click-link-icon {
  color:var(--darkTheme1);
  font-size: 1.2rem;
  transition: 0.3s ease;
  animation: bounce 0.6s ease infinite;
  cursor: pointer;
}

.click-link{
  /* background-color: red; */
  width:calc(var(--maxWidth) - 520px);
  display: none;
}

@keyframes bounce {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
@media (max-width: 1030px) {
  #feature-contents-courses{
    gap:0;
  }
  #courses-main-image{
    height: auto !important;
  }
  .left-courses-main-section-container{
    gap:1rem;
    font-size: 1rem;
    /* background-color: red; */
    width:100%;
    /* padding-top: ; */
    margin-bottom: 2rem;
  }
  #courses-title-top{
    /* margin-bottom: 1rem; */
    font-size: 1.5rem;
  }
  .all-courses-left-section{
    gap:0.5rem;
    /* background-color: red; */
  }
  #courses-top-section {
    /* background-color: red; */
    gap:1rem !important;
    padding-bottom:0 !important;
  }
  #contact-left-section , .facilities-left-section{
    padding: 0;
  }
}


@media (max-width: 780px) {
  .left-courses-main-section-container{
    /* gap:1rem; */
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .course-detail-desc{
    padding:0;
    /* background-color: red; */
    margin: 0;
  }
}

@media (max-width: 510px) {
  .left-courses-main-section-container{
    /* background-color: red; */
    padding-left:1rem;
    padding-right: 1rem;
  }
  .course-detail-desc {
    padding-right:1rem;
    padding-left:1rem;
    margin-bottom: 2rem;
  }
  #mmm{
    padding-left:1rem;
  }
  #course-s-h{
    font-size: 1.5rem;
  }
  #courses-s-d{
    font-size: 1rem !important;
    line-height: 1.3rem !important;
  }
  .all-courses-left-section >li{
    font-size: 1rem;
  }
  .all-courses-left-section{
    gap:0.4rem;
    /* padding-bottom: 0; */
  }
}








.alert{
  width: 35rem;
  background-color: var(--lightTheme3);
  color:var(--blackColorDark);
  padding: 5rem 4rem !important;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  display: none;
  transition: 0.3s ease !important;
  position: fixed;
  font-family: var(--bodyFont2);
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
  z-index:10000;
}

#go-back-main-btn {
  padding:1rem 2rem 1rem 2rem !important;
}

@media (max-width: 600px) {
  .alert {
    width:26rem;
    padding:3rem 2rem !important;
  }
}

@media (max-width: 440px) {
  .alert {
    width:22rem;
    padding:2rem 1rem !important;
    font-size: 1.2rem;
  }
}





/* Achievement page */

.gallery-container{
  width:100%;
  height: auto;
  background-color: var(--lightTheme2);
  /* background-color: red; */
  padding-bottom:2rem;
}
img.images-gallery {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  /* opacity: 0.3; */
}
.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  max-width: var(--maxWidth);
  margin: auto;
  /* margin-bottom: 2rem; */
}
.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
.gallery .tall {
  grid-row: span 2;
}




#award-gallery-title {
  text-align: center;
  margin-bottom: 3rem;
}

img.trophy-award {
  height: 10rem;
  /* background-color: red; */
}
.last-footer-section {
  display: flex;
  gap:1rem;
  /* background-color: red; */
  height: fit-content;
}